body {
 background-color: black;
 font-family: Arial;
}

textarea{
 width: 100%;
 height: 100%;
 box-sizing: border-box;
 background-color: black;
 color: yellow;
 font-weight: bold;
 resize: none
}

textarea#eventcontent{
 backdround-color: gray
}

textarea#reportcontent{
 backdround-color: red
}

div#dashboard{
 position:fixed;
  width:100%;
  height:90%;
  background:black;
  left:0px;
  top:0px;
}

div#report {
  position:absolute;
  width:75%;
  height:100%;
  background: black;
  left:0px;
  top:0px;
}

div#event {
  position:absolute;
  width:25%;
  height:100%;
  background:black;
  right:0px;
  top:0px;
}



div#command {
  position: fixed;
  width:100%;
  height:10%;
  left:0px;
  bottom: 5px;
}

