body {
 background-color: black;
 font-family: Arial;
}

div#report {
  position:fixed;
  width:100%;
  height:90%;
  background:black;
  left:0px;
  top:0px;
}

textarea{
 width: 100%;
 height: 100%;
 box-sizing: border-box;
 background-color: black;
 color: yellow;
 font-weight: bold;
 resize: none
}

div#command {
  position: fixed;
  width:100%;
  height:10%;
  left:0px;
  bottom: 5px;
}

