<!DOCTYPE html>
<html>
	<head>
		<!-- Generak setting -->
		<meta charset="utf-8">
		<meta http-equiv="content-language" content="_LANGUAGE_">
		<base href="_BASEURL_" /> 

		<!-- Meta description -->
		<title>_TITLE_</title>
		<meta name="description" content="_DESCRIPTION_">

		<!-- Static assets -->
		<link type="image/x-icon" rel="shortcut icon" href="gui.favicon" />
		<link rel="stylesheet" type="text/css" href="gui.style" />
	</head>

	<body>
		<div id="report">
			<textarea id="command-report" readonly></textarea>
		</div>

		<div id="command">
			<textarea id="command-editor"></textarea>
		</div>

		<script  type="text/javascript" charset="utf-8" src="gui.app"></script>
	</body>
</html>
